<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GETTO - <%= current_user.name %></title>
</head>
<style>
    .vdivide {border-right: 1px dashed #333;}
    body{
        margin-top:20px;
        background:#FAFAFA;
    }
    .order-card {
        color: #fff;
    }
    
    .bg-c-blue {
        background: linear-gradient(45deg,#000046,#1CB5E0);
    }
    
    .bg-c-green {
        background: linear-gradient(45deg,#00b09b,#96c93d);
    }
    
    .bg-c-yellow {
        background: linear-gradient(45deg,#FDC830,#F37335);
    }
    
    .bg-c-pink {
        background: linear-gradient(45deg,#ED213A,#93291E);
    }
    
    
    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    
    .card .card-block {
        padding: 25px;
    }
    
    .order-card i {
        font-size: 26px;
    }
    
    .f-left {
        float: left;
    }
    
    .f-right {
        float: right;
    }
</style>

<style>
    .grn {
        background: linear-gradient(45deg,#56ab2f,#92d144);
    }
    .red {
        background: linear-gradient(45deg,#cb2d3e,#ef473a);
    }
    .blu {
        background: linear-gradient(45deg,#3a7bd5,#3a6073);
    }
    .vib {
        background: linear-gradient(45deg,#00B4DB,#0083B0);
    }
</style>

<body <% if(current_user.id==1){%> style=" background-repeat: background-attachment: fixed; background-size: cover; no-repeat; background-image: url(' https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSBczZRgi1THEyUvBUdXnBCAeJnn7Vs2C0JKQ&usqp=CAU ');" <%}%> >

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="/users/<%= current_user.id %>">
            <img class="navbar-brand" src="/images/logo.png" height="60">
        </a>
        
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <h4 class="my-auto nav-link"><%= current_user.name%></h4>
                </li>
                <li class="nav-item">
                    <a href="/" class="btn btn-danger nav-link ml-3 red">Odhlášení 
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-door-open-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2v13h1V2.5a.5.5 0 0 0-.5-.5H11zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <% const styles = ["bg-c-blue","bg-c-green","bg-c-yellow","bg-c-pink"];let i = 0;debts.forEach(debt =>{ %>
            <div class="col-md-4 col-xl-3">
                <div class="card <%= styles[i] %> order-card">
                    <div class="card-block">
                        <h4 class="m-b-20"><%=debt.user.name%></h4>
                        <h2 class="text-right"><a href="/users/detail/<%= current_user.id %>/<%= debt.user.id %>" class="text-light"><%=debt.ammount%> Kč</a></h2>
                        <div>Můj dluh: <h6 class="d-inline"> <%=debt.debt_to%> Kč</h6></div>
                        <div>Jeho dluh: <h6 class="d-inline"> <%=debt.debt_from%> Kč</h6></div>
                        <a href="/users/pay/<%= current_user.id %>/<%= debt.user.id %>" class="btn btn-light mt-2 <% if(debt.ammount<=0){%> disabled <%}%>" >Zaplatit</a> 
                    </div>
                </div>
            </div>
            <% i+=1}) %>
        </div>
    </div>
        
    <div class="container">
        <a href="/users/new/<%= current_user.id %>" class="btn btn-success grn">
            Přidat účet
        </a>  
    </div>   

    <hr/>

    <div class="container">
        
        <h6>Seznam dlužníků</h6>

        <div class="list-group">
        <% my_bills.forEach(bill =>{ %>

            <li class="list-group-item">
                <h5 class="d-inline vdivide mr-3"><%=bill.ammount%> Kč   </h5>
                <h6 class="d-inline"><%= users.find(usr => {return usr.id == bill.billTo}).name %> - </h6>
                <div class="d-inline"><%=bill.purpose%></div>
                <form action="/users/delete_bill/<%= current_user.id %>/<%= bill.id %>?_method=DELETE" method="POST" class="d-inline">
                    <button data-toggle="modal" data-target="#confirmDelete<%= bill.id %>" type="button" class="close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal fade" id="confirmDelete<%= bill.id %>" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document"><div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmDeleteLabel">Opravdu odstranit následující záznam?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <h3><%=bill.ammount%> Kč</h3>
                                <div><%= users.find(usr => {return usr.id == bill.billTo}).name %> - <%=bill.purpose%></div>
                                <div><%=bill.createdAt.toLocaleDateString()%></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary vib" data-dismiss="modal">Zrušit</button>
                                <button type="submit" class="btn btn-danger red">Odstranit</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </form>
                <small class="d-inline float-right mr-3"><%=bill.createdAt.toLocaleDateString()%> </small>  
            </li>

        <% }) %>
        </div>
    </div>

   
    
</body>
</html>